---

export const partial = true;

---

<div class="logo-main">
    <h1>SoftLine</h1>
    <h3>Your business portal</h3>
</div>

<style scoped>

    .logo-main{
        padding: 1rem;
        text-align: center;
    }

    .logo-main h1{
        font-family: system-ui;
        font-size: 100px;
    }

    .logo-main h3{
        font-family: system-ui;
        font-weight: bold;
        text-transform: capitalize;
    }

</style>